# FIXME: Configure environment variables for your project

# For security reason, don't push secret key in your git repo.
# Append .local to the environement files to prevent your secret key from being commited to Git.

# Hosting
# Replace by your domain name
ANALYZE=false
NEXT_PUBLIC_APP_URL=http://localhost:3000
NEXTAUTH_URL=http://localhost:3000

######## [BEGIN] SENSITIVE DATA ######## For security reason, don't update the following variables (secret key) directly in this file.
######## Please create a new file named `.env.local`, all environment files ending with `.local` won't be tracked by Git.
######## After creating the file, you can add the following variables.
# Generate a random string using this command openssl rand -base64 32
NEXTAUTH_SECRET="gJ0JwJC6wgtOEZtEr4HjY1nUCYvqXFfXxzGsr1Kt9LM="

# LOGTAIL_SOURCE_TOKEN=
######## [END] SENSITIVE DATA
